@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #111;
  color: #fff;
}

.fire-text {
  background: linear-gradient(to right, #facc15, #ef4444);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937; 
}

::-webkit-scrollbar-thumb {
  background: #ef4444; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #dc2626; 
}